.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@media only screen and (max-width: 600px) {
  .top-padding-20 {
    padding-top: 20px;
  }
}

.input-container {
  padding: 20px;
  border: 1px solid #ccc;
  background-color: rgba(255, 255, 255, 0.5); /* Color white with alpha 0.9*/
  margin-bottom: 20px;
}
.weather-card {
  display: flex;

  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.weather-data {
  display: flex;
  width: 250px;
  min-height: 380px;
  margin: 10px;
  padding: 10px;
  border: 2px solid #fff;
  border-radius: 5px;
  justify-content: center;
  color: #fff;
  box-shadow: rgba(20, 19, 19, 0.4);
}
.weather-data.first-card {
  border: 2px solid orange;
}
button {
  font-size: 14px;
  border-radius: 2px;
  margin: 10px;
  background-color: #999;
  color: white;
  font-weight: bold;
}

h4.error {
  color: rgb(175, 41, 41);
  font-weight: bold;
}
.location {
  margin: 0px 10px 0px 10px;
  padding: 5px;
}

.temp {
  margin-left: 10px;
  padding: 10px;
}

.weather-icon .wi {
  margin-top: 20px;
}
.weather-info h4 {
  margin-top: 20px;
  font-size: 80px;
  text-align: center;
}
